@use "@angular/material" as mat;
@import "./environments/globalVars";

// Define the application theme using Angular Material M2 theming API
$obi-primary: mat.m2-define-palette(mat.$m2-red-palette, 600, 300, 900);
$obi-accent: mat.m2-define-palette(mat.$m2-grey-palette);
$obi-warn: mat.m2-define-palette(mat.$m2-red-palette);

$obi-app-theme: mat.m2-define-light-theme(
  (
    color: (
      primary: $obi-primary,
      accent: $obi-accent,
      warn: $obi-warn,
    ),
    typography: mat.m2-define-typography-config(
        $font-family: '"Heebo", sans-serif',
      ),
    density: 0,
  )
);

@include mat.all-component-themes($obi-app-theme);

.mat-custom-theme {
  .mat-mdc-card {
    border: 1px solid #cccccc;
  }

  .mat-mdc-button,
  .mat-mdc-icon-button,
  .mat-mdc-outlined-button,
  .mat-mdc-unelevated-button {
    border-radius: 6px;
  }

  .mat-mdc-dialog-container {
    padding: 40px 30px;
    box-shadow: 0 0 25px 0 rgba(0, 0, 0, 0.15);
  }

  .mat-mdc-dialog-content {
    margin: 0 -30px;
    padding: 0 30px;
  }

  .mat-mdc-dialog-actions {
    margin-bottom: -40px;
  }

  .mat-expansion-panel {
    &:not([class*="mat-elevation-z"]) {
      box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.15);
    }

    .mat-expansion-panel-header {
      padding: 0 16px;
    }

    .mat-expansion-panel-body {
      padding: 0;
    }

    .mat-expansion-indicator {
      display: flex;
      align-items: center;
      margin-right: -6px;

      &::after {
        content: url($publicPath + "assets/icons/icon-arrow-down.svg");
        padding: 0;
        transform: none;
        border: none;
        height: 30px;
        transition: transform 200ms;
      }
    }

    &.mat-expanded {
      .mat-expansion-indicator {
        &::after {
          transform: translateY(-2px);
        }
      }
    }
  }
}
