<div class="header-pagina-cuotificacion header-simple-cuotificacion">
    <div class="div-invisible-cuotificacion">

    </div>
    <div class="col-titulo-principal">
        <h3 class="titulo-header">Solicitud de préstamo</h3>
    </div>

    <div class="header-columnas">
        <button id="botonCerrar" class="btn btn-link btn-header btn-close mobile" (click)="cerrar()">
            <p class="texto-botones-header">Cerrar</p>
            <em class="icon icon-close"></em>
        </button>
    </div>
</div>
